<%= simple_nested_form_for @resouce,:url =>import_execl_public_resources_path, :html => { class: 'form-horizontal'}  do |f| %>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class='bg'><%#= require_span %>文件：</th>
      <td><%= f.file_field 'file'  %></td>
      </tr>
    </table>
    <%= f.submit '提交'%>
<% end %>
