
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
                <th>序号</th>
                <th>区域</th>
                <th>机构名称</th>
                <th>级别</th>
                <th>类型</th>
                <th>网址</th>
                <th>操作</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </div>
        </div>
     </div>
</body>
</html>
