<article>
  <div class="content">
    <div class="content_title"><h2><%= @article.title %></h2><div>
      <div class="content_des"><%= @article.content %></div>
  </div>
  <center><%= link_to '返回', home_index_path, class: "btn btn-sm btn-default" %></center>
</article>
