
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid clear_padding text-center">
        Copyright © 2015 Adobe Systems Incorporated. All rights reserved.
    </div>
</nav>

<script>

    $(function(){
        autoNav();
    });

    //解决底部自动导航的问题
    function autoNav(){
        //获取内容的高度
        var bodyHeight = $("body").height();
        //获取底部导航的高度
        var navHeight = $(".navbar").height();
        //获取显示屏的高度
        var iHeight = document.documentElement.clientHeight||document.body.clientHeight;
        //如果内容的高度大于（窗口的高度 - 导航的高度）,z则需要添加一个div，设置其高度
        if(bodyHeight > (iHeight - navHeight)){
            $("body").append('<div style="height: '+navHeight+'px"></div>');
        }
    }

</script>
