// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{margin: 0;padding: 0;}
.banner { position: relative; top:0;overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left;min-height: 400px }
.dots{width:90px;position:absolute;bottom:10px;left:50%;margin-left:-27px;}
.dot{
  display:inline-block;
  width: 10px;
  height: 10px;
  font-size: 0px;
  line-height: 0px;
  margin-right: 12px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 8px;
}
.dot.active{background-color: #cce8cf;}
